.favor-wrap {
    width: 100%;
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.favor_header {
    width: 100%;
    height: 184px;
    display: flex;
    flex-direction: column;
    margin-top: 72px;
}

.favor_header-link {
    /* background-image: url(./../../images/Icon-Arrow-Left-books.svg); */
    width: 42px;
    height: 14.01px;
}

.favor_header-title {
    color: #313037;
    font-family: 'BebasNeue';    
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
}

.favor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.favor-card {
    width: 100%;
    height: 192.18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.favor_image-wrap {
    width: 256px;
    background-color: #D7E4FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favor_image {
    width: 163.9px;
    height: 191.46px;
}

.favor_data-wrap {
    width: 500px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.favor_data-title {
    color: #313037;
    font-family: 'BebasNeue';
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin: 0;
}

.favor_data-title:hover {
    font-size: 30px;
}

.favor_data-authors {
    color: #A8A8A8;
    font-family: 'Inter Regular';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.favor_data-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.favor_data-price {
    color: #313037;
    font-family: 'BebasNeue';
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin: 0;
}

.favor_data-stars {
    width: 112px;
    height: 16px;
    /* background-image: url(./../../images/stars-Books.svg); */
    background-size: cover;
}

.heart-red {
    /* background-image: url(./../../images/сердце\ красное-books\ \(1\).svg); */
    width: 24px;
    height: 24px;
    background-size: cover;
    border: none;
    background-color: transparent;
}

.heart-red:hover {
    /* background-image: url(./../../images/сердце\ черное-books\ \(2\).svg); */
}

.favor-LINK {
    text-decoration: none;
}
