.subscribe__wrapper {
    width: 100%;
    background: rgba(244, 238, 253, 1);
    margin-top: 72px;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}
.subscribe-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.subscribe-title {
    font-family: Bebas Neue;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: rgba(49, 48, 55, 1);
    margin-bottom: 10px;
}
.subscribe-text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(168, 168, 168, 1);
    margin-bottom: 32px;
}
.subscribe-input-button {
    display: flex;
    width: 100%;
}
.subscribe-input {
    flex: 0 0 70%;
    box-sizing: border-box;
}
.subscribe-btn {
    flex: 0 0 30%;
    height: 56px;
    border: none;
    background: rgba(49, 48, 55, 1);
    font-family: Bebas Neue;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
}
