.likes__wrapper {
    width: 1120px;
    margin: 0 auto;
}

.likes__header-title {
    font-family: Bebas Neue;
    font-size: 56px;
    font-weight: 500;
    line-height: 64px;
}

.likes__header {
    width: 1120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}