.header__wrapper {
    width: 60%;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid rgba(231, 231, 231, 1);
    margin-bottom: 72px;
}

.header__icons{
    width: 150px;
    display: flex;
    /* align-items: start; */
    justify-content: space-between;
}

.favourite__link{
    display: flex;
    justify-content: center;
    align-items: center;
}.basket__link{
    display: flex;
    justify-content: center;
    align-items: center;
}.user__link{
    display: flex;
    justify-content: center;
    align-items: center;
}

