.header__wrapper {
    width: 1120px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid rgba(231, 231, 231, 1);
    margin-bottom: 72px;
}

.header__icons{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.like__link{
    display: flex;
    justify-content: center;
    align-items: center;
}.basket__link{
    display: flex;
    justify-content: center;
    align-items: center;
}.user__link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.like__link:hover, .exit__icon:hover, .main__link:hover, .basket__link:hover, .user__link:hover{
    opacity: 0.7;
    transition: 0.2s;
}